---
title: Service Instance Manager for PCF (Beta)
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<p class="note warning"><strong>Warning:</strong> Service Instance Manager for PCF is currently in beta and is
   intended for evaluation and test purposes only.
</p>

This documentation describes the Service Instance Manager for Pivotal Cloud Foundry (PCF). Service Instance Manager enables operators to more easily manage large numbers of service instances.


## <a id="overview"></a>Overview

Service Instance Manager gathers information about service instances from multiple cloud foundries through the CF API and presents this information in a web UI. From here, operators can view, filter, and delete service instances.


## <a id="features"></a>Key Features

Through Service Instance Manager, operators can:

* View and filter service instances by foundation, org, space, service offering, status, service keys, service bindings, and bound apps
* Delete service instances


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Service Instance Manager.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>App version</td>
        <td>v0.2.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>XX August, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>All</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) versions</td>
        <td>All</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Service Instance Manager has the following requirements:

* PCF
* [User Account and Authentication (UAA) server](https://docs.pivotal.io/pivotalcf/uaa/uaa-overview.html)

## <a id="limitations"></a>Limitations

Service Instance Manager has been tested with 2000 Cloud Foundry service instances across two Cloud Foundries. Higher numbers might impact the performance of Cloud Foundry due to the large number of requests made to the Cloud Controller.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) or send an email to [Fleet Management](mailto:fleet-management@pivotal.io.)
