---
title: Service Instance Manager for PCF (Beta)
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<p class="note warning"><strong>Warning:</strong> Service Instance Manager for PCF is currently in beta and is
   intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

This documentation describes the Service Instance Manager (SIM) for Pivotal Cloud Foundry (PCF). SIM for PCF enables operators to more easily manage large numbers of service instances.


## <a id="overview"></a>Overview

SIM for PCF gathers information about service instances from multiple foundations through the cf API and presents this information in a web UI. From here, operators can view, filter, and delete service instances.


## <a id="features"></a>Key Features

Through SIM for PCF, operators can:

* View and filter service instances by foundation, org, space, service type, status, service keys, and service bindings
* Delete service instances


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about SIM for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>App version</td>
        <td>v1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>XX August, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>All</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) versions</td>
        <td>All</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

SIM for PCF has the following requirements:

* PCF
* [User Account and Authentication (UAA) server](https://docs.pivotal.io/pivotalcf/uaa/uaa-overview.html)

## <a id="limitations"></a>Limitations

SIM for PCF has been tested with a maximum of approximately 1000 Cloud Foundry service instances.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) or send an email to [Fleet Management](mailto:fleet-management@pivotal.io.)
