---
title: Service Instance Manager for PCF (Beta)
owner: Fleet Management
---

<strong><%= modified_date %></strong>

**If this product is in beta, keep and edit the warning note below.**
<p class="note warning">
<strong>Warning: </strong>
Service Instance Manager for PCF is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

<%# This topic begins with a brief description of what the product (e.g. Apigee Edge Service Broker for PCF)
does, whereas the Overview section below describes what the service itself (e.g. Apigee Edge) does. See below
for an example. %>

This documentation describes the Service Instance Manager (SIM) for Pivotal Cloud Foundry (PCF). SIM for PCF enables operators to more easily manage large numbers of service instances.

## <a id="overview"></a>Overview

SIM for PCF gathers information about your service instances from multiple foundations through the cf API and presents this information in a web UI. From here, operators can view, filter and delete service instances.


## <a id="features"></a>Key Features

Through SIM for PCF, operators can:

* View and filter service instances by name, GUID, bindings, status, org, space, and foundation
* Delete service instances


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about SIM for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>App version</td>
        <td>v1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>XX August, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>All</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) versions</td>
        <td>All</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td> <%# ask Jack if this applies %>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

<%# Provide any general or specific requirements, prerequisites, or dependencies here.
A general requirement might be something such as, "An AppDynamics account."
A specific requirement might be something such as, "Packaging Dependencies for Offline Buildpacks." %>

SIM for PCF has the following prerequisites:

* PCF
* User Account and Authentication (UAA) server <%# get xref link %>

## <a id="limitations"></a>Limitations

SIM for PCF has been tested with a maximum of approximately 1000 <%# be more precise %> Cloud Foundry service instances

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) or send an email to [Fleet Management](mailto:fleet-management@pivotal.io.)

## <a id="license"></a>License <%# does this apply? Other PCF products don't have this section. %>

<%# List any license information here. %>
