---
title: Service Instance Manager documentation
---

<p class="note important">
  <strong>Important:</strong> Service Instance Manager is no longer supported. This documentation
  has been archived.
</p>
<br>

Service Instance Manager enables operators to more easily manage large numbers of service instances.
Service Instance Manager gathers information about service instances from multiple foundations
through the Cloud Foundry API (CAPI) and presents this information in a web UI.
From here, operators can view, filter, and delete service instances.
