---
title: Release Notes for Pivotal Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

##<a id="0-8-0"></a> v0.8.0

**Release Date:** MMMM DD, 2020

### Features

New features and changes in this release:

- Click through a portion of the bar chart in the Service Consumption dashboard to filter the search results.
- Introduced in-memory cache (disabled by default, see see <a href="installing.html#enable-cache">Enable <%= vars.product_short %> cache</a>)

### Resolved Issues

This release has the following fixes:

- Fixed '431 Request Header Fields Too Large' when targeting more than 4 foundations.
- <%= vars.product_short %> is now limiting the amount of parallel request to ensure that it does not deny service to the Cloud Controller.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
