---
title: Release Notes for Pivotal Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/branding-change' %>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

##<a id="0-5-0"></a> v0.5.0

**Release Date:** MMMM DD, 2019

### Features

New features and changes in this release:

- Improved UI to make it easier to browse many service instances - Service instances are now displayed in a table rather than as cards.
- Service Instance Manager now allows users to delete many instances in two clicks, based on search results.
- Users can see the current plan of each service instance.
- Admin users can see the names of up to five SpaceManagers of the space a service is located in.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
