---
title: Release Notes for Pivotal Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/branding-change' %>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

##<a id="0-5-0"></a> v0.5.0

**Release Date:** MMMM DD, 2019

### Features

New features and changes in this release:

<%# Insert features and changes here %>

### Known Issues

<%# Insert known issues here %>


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
