---
title: Release Notes for Pivotal Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/branding-change' %>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

##<a id="0-4-0"></a> v0.4.0

**Release Date:** MMM DD, YYYY

### Features

New features and changes in this release:

- Service Instance Manager now shows the age of each service instance and the
time since the instance was last updated.
- Added the filters `older_than` and `younger_than` so that you can filter service instances by age.
For more information, see <a href="using.html#filter-instances">Filter Service Instances</a>.

### Known Issues

This release has the following issues:

- When installing Service Instance Manager using the `install.sh` script,
the UAA instructions that are printed to the terminal tell you to run `uaac client token get`.
This is incorrect.
The correct command is `uaac token client get`.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
