---
title: Release Notes for Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

These are release notes for Service Instance Manager.

##<a id="ver"></a> v0.3.0

**Release Date:** August DD, 2019

## Features

New features and changes in this release:

* Feature one.
* Feature two.
* Feature three.

## Known Issues

This release has the following issues:

* Issue one.
* Issue two.
* Issue three.
