---
title: Release Notes for Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

##<a id="0-3-0"></a> v0.3.0

**Release Date:** September XX, 2019

### Features

New features and changes in this release:

* First public release of Service Instance Manager
* View all service instances from across multiple cloud foundries
* Search for a specific service instance to speed up troubleshooting
* Filter service instances by name, ID, org, space, foundation, and bound apps
* Filter for service instances that are candidates for cleanup
* Log in with Cloud Foundry credentials
* Support for enterprise identity providers

### Known Issues

This release has the following issues:

* When targeting a Cloud Foundry with tens of thousands of service instances, Service Instance Manager can deny service to the Cloud Controller.
* When logged in with a user that has audit (read-only) access to a service instance, attempting to delete the service instance triggers a JSON error message.
