---
title: Using Service Instance Manager for PCF
owner: Fleet Management
---

<strong><%= modified_date %></strong>

This topic describes how to use Service Instance Manager for Pivotal Cloud Foundry.

## <a id="login"></a> Log in to Service Instance Manager

To log in to a foundation, use the username and password you have registered with the foundation.

If you are unsure of the foundation name, check the URL. A typical foundation URL looks similar to the one below.

  <code>https<span>:</span>//login.YOUR-FOUNDATION.YOUR-DOMAIN.com/login</code>


<p class="note"><strong>Note:</strong> You must log in to each foundation separately.</p>

## <a id="filter-instances"></a> Filter Service Instances

You can filter service instances by a variety of properties.

* To filter by name or GUID, enter a name or GUID in the search bar.

    <%= image_tag("images/search-by-name.png", :alt => "A name in the search bar") %>

* To filter by a category, enter the query in the search bar in the format `FILTER:VALUE`.<br><br>

    <%= image_tag("images/filter-by-status.png", :alt => "Status filter in the search bar") %>

    The available filters are:

    * `app:BOUND-APP-NAME`
    * `foundation:FOUNDATION-NAME`
    * `org:ORG-NAME`
    * `space:SPACE-NAME`
    * `service:SERVICE-OFFERING-NAME`
    * `status:ok` and `status:error`
    * `keys:true` and `keys:false`
    * `bindings:true` and `bindings:false`

* You can also filter by clicking on a filter bubble below the search bar.


## <a id="delete-instances"></a> Delete Service Instances

<p class="note"><strong>Note:</strong> Service Instance Manager does not allow you to delete a service instance with service bindings, service keys, or route associations.</p>

To delete a service instance:

1. Click **DELETE** at the bottom-right of the service instance card.
1. Click **DELETE** in the warning pop-up.
