---
title: Using Service Instance Manager for PCF
owner: Fleet Management
---

<strong><%= modified_date %></strong>

This topic describes how to use Service Instance Manager (SIM) for Pivotal Cloud Foundry (PCF).

##<a id='using'></a> Using SIM for PCF

Follow the procedures below to use SIM for PCF.

### <a id="login"></a> Log in to SIM for PCF

To log in to a foundation, use the username and password you have registered with the foundation. If you are unsure of the foundatione, check the URL. A typical foundation URL looks similar to the one below.

  `https<span>:</span>//login.YOUR-FOUNDATION.YOUR-DOMAIN.com/login`

<%# add screenshot %>

<p class="note"><strong>Note:</strong> You must log in to each foundation separately.</p>

### <a id="filter-instances"></a> Filter Service Instances with SIM for PCF

To filter by name or GUID, enter a name or GUID in the search bar.

<%# add screenshot %>

To filter by a category, enter the query in the search bar in the format `CATEGORY:VALUE`.

  For example:
  `status:error` or `foundation:YOUR-FOUNDATION`

<%# add screenshot %>

The available filter categories are:

* Foundation
* Org
* Space
* Service Type
* Status
* Service Keys
* Service Bindings

You can also filter by clicking on a bubble below the search bar.

<%# add screenshot %>


### <a id="delete-instances"></a> Delete Service Instances with SIM for PCF

<p class="note"><strong>Note:</strong> SIM does not allow you to delete a service instance with service bindings, service keys, or route associations.</p>

To delete a service instance:

1. Click **DELETE** at the bottom-right of the service instance card.
1. Click **DELETE** in the warning pop-up.


### <a id="log-out"></a> Log out of SIM for PCF

To log out of all foundations simultaneously, click **logout** at the top-right of the page.

<%# add screenshot %>
