---
title: Using Service Instance Manager for PCF
owner: Fleet Management
---

<strong><%= modified_date %></strong>

This topic describes how to use Service Instance Manager for Pivotal Cloud Foundry (PCF)
to view and delete service instances across PCF foundations.

## <a id="login"></a> Log in to Service Instance Manager

Follow the steps below to log in to Service Instance Manager.

1. Open a web browser and go to
<code>https<span>:</span>//service-instance-manager.YOUR-PCF-FOUNDATION-URL</code>.

1. Log in with the email address and password you use for that PCF foundation.

  <%= image_tag("images/cf-login-page.png", :alt => "Cloud Foundry login page") %>

  * If this is the only PCF foundation that Service Instance Manager is configured to target, the Service Instance Manager UI appears.
  * If Service Instance Manager is configured to target any other PCF foundations, you are redirected to the
  login page for the next foundation listed in `config.json`. Redirects continue until you have logged in to
  every foundation that Service Instance Manager targets.

<p class="note"><strong>Note:</strong> You must log in to each PCF foundation listed in
  <code>config.json</code> before you can use Service Instance Manager.
  <%# To edit <code>config.json</code>, see <a href="insert link to doc section here when it exists">Edit config.json</a>. %>
</p>

## <a id="filter-instances"></a> Filter Service Instances

You can filter service instances by a variety of properties.

* To filter by name or GUID, enter a name or GUID in the search field.

    <%= image_tag("images/search-by-name.png", :alt => "A name in the search field") %>

* To filter by a category, enter the query in the search field in the format `FILTER:VALUE`.<br><br>

    <%= image_tag("images/filter-by-status.png", :alt => "Status filter in the search field") %>

    The available filters are:

    * `app:BOUND-APP-NAME`
    * `foundation:FOUNDATION-NAME`
    * `org:ORG-NAME`
    * `space:SPACE-NAME`
    * `service:SERVICE-OFFERING-NAME`
    * `status:ok` and `status:error`
    * `keys:true` and `keys:false`
    * `bindings:true` and `bindings:false`

* You can also filter by clicking on a filter bubble below the search field.


## <a id="delete-instances"></a> Delete Service Instances

<p class="note"><strong>Note:</strong> Service Instance Manager does not allow you to delete a service instance with service bindings, service keys, or route associations.
</p>

To delete a service instance:

1. Click **DELETE** at the bottom-right of the service instance card.
1. Click **DELETE** in the warning pop-up.
